@{
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        document.title = 'Book View';
    });
</script>


<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal center-block" id="frmBooksDetail">
            <div class="row">
                <div class="col-xs-12 col-sm-3 pl-2 pr-2">
                    <div class="widget-box">
                        <div class="widget-header">
                            <h4 class="widget-title">Topics</h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main">
                                <div class="widget-body">
                                    <div class="widget-main padding-8">
                                        <ul id="treeBooks" class="tree" role="tree">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-9 pl-2 pr-2">
                    <div class="widget-box">
                        <div class="widget-header">
                            <h4 class="widget-title">Content</h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main" id="ContentBody">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/x-jquery-tmpl" id="tmplBookList">
    <li class="tree-branch tree-open" role="treeitem" aria-expanded="true">
        <a class="tree-branch-header expand">
            <span class="tree-branch-name">
                <i class="icon-folder ace-icon tree-plus"></i>
                <span class="tree-label">${AppBookName}</span>
            </span>
        </a>
        <ul class="tree-branch-children" role="group" id="book_${AppBookID}">
        </ul>
    </li>

</script>

<script type="text/x-jquery-tmpl" id="tmplChapterList">
    <li class="tree-branch tree-open" role="treeitem" aria-expanded="true">
        <a class="tree-branch-header expand">
            <span class="tree-branch-name">
                <i class="icon-folder ace-icon tree-plus"></i>
                <span class="tree-label">${AppChapterNo} - ${AppChapterTitle}</span>
            </span>
        </a>
        <ul class="tree-branch-children" role="group" id="chapter_${AppChapterID}">
        </ul>
    </li>
</script>
<script type="text/x-jquery-tmpl" id="tmplContentList">
    <li class="tree-branch tree-open" role="treeitem" aria-expanded="true">
        <a class="tree-branch-header expand">
            <span class="tree-branch-name">
                {{if appChild > 0}}
                <i class="icon-folder ace-icon tree-plus"></i>
                {{/if}}
                <span class="tree-label" onclick="GetContentData('${AppContentID}')">${AppHeaderNo} - ${AppHeader}</span>
            </span>
        </a>
        {{if appChild > 0}}
        <ul class="tree-branch-children" role="group" id="content_${AppContentID}">
        </ul>
        {{/if}}
    </li>
</script>
<script src="~/js/Page/Books/BookView.js?v=@Utility.GlobalVars.siteVersion"></script>