@{
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        document.title = 'Books Master';
    });
</script>
<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-sm-6 widget-container-col ui-sortable">
            <h1>
                Books List
            </h1>
        </div>
        <div class="col-xs-12 col-sm-6 widget-container-col ui-sortable">
            <a href="Books/BooksDetail" class="width-15 pull-right btn btn-sm btn-success">
                <i class="ace-icon fa fa-plus"></i>
                <span class="bigger-110">Create New</span>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Book Name</th>
                                <th>Auther</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody id="tblListBody">
                        </tbody>
                    </table>
                </div><!-- /.span -->
                <div class="col-xs-12 col-sm-6 btn-addnew hide">
                    <a href="ChartHolder/ChartHolderDetail" class="width-15 btn btn-sm btn-success">
                        <i class="ace-icon fa fa-plus"></i>
                        <span class="bigger-110">Create New</span>
                    </a>
                </div>
            </div><!-- /.row -->
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->
<script type="text/x-jquery-tmpl" id="tmpltblList">
    <tr>
        <td>${appBookName}</td>
        <td>${appAuther}</td>        
        <td  style="width:20px">
            <div class="hidden-sm hidden-xs btn-group">
                <a class="btn btn-xs btn-success tooltip-success" id="btnupdate-${appBookID}" onmouseover="showToolTip(this)" data-placement="top" data-original-title="Update" href="Books/BooksDetail?id=${appBookID}">
                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                </a>               
            </div>
        </td>
    </tr>

</script>
<script src="~/js/Page/Books/BookList.js?v=@Utility.GlobalVars.siteVersion"></script>