@{
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        document.title = 'Dashboard';
    });
</script>

<div class="page-header">
    <h1>
        Dashboard
        @*<small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                top menu &amp; navigation
            </small>*@
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
    Hello raj 
        how are you?
    </div><!-- /.col -->
</div><!-- /.row -->